.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

.label {
  font-size: 14px;
  font-weight: bold;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #0b0a0a;
  border-radius: 5px;
}

.button {
  padding: 10px;
  background-color: #4caf50;
  color: rgb(17, 15, 15);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
